# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Permalinks
#
# Use of `relative_permalinks` ensures post links from the index work properly.
permalink: pretty
#relative_permalinks: true

# Site settings
title: Engineering Blog
tagline: 'A Jekyll theme'
email: eyelove@gmail.com
description: > # this means to ignore newlines until "baseurl:"
    실무에서 사용한 자료 모음
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://eyelove.github.io" # the base hostname & protocol for your site
twitter_username: eyelove
github_username: eyelove

# Build settings
markdown: kramdown

# About/contact
author:
  name:              Kim Deok Jung
  url:               https://facebook.com/eye1ove
  email:             eyelove@gmail.com

# Custom vars
version:             1.0.0

# Gems
gems: [jekyll-paginate]
paginate: 5
paginate_path: "page:num"

# prose
prose:
  rooturl: '_posts'
  siteurl: 'https://eyelove.github.io/'
  media: 'media'
  metadata:
    _posts:
      - name: "layout"
        field:
          element: "hidden"
          value: "post"
      - name: "title"
        field:
          element: "text"
          label: "Title"
          value: ""
      - name: "photo_url"
        field:
          element: "text"
          label: "450x450 Picture Thumb for index"
          value: ""
      - name: "fbcomments"
        field:
          element: "checkbox"
          label: "Facebook Comments"
          value: false
      - name: "published"
        field:
          element: "checkbox"
          label: "Published"
          value: false
      - name: "category"
        field:
          element: "select"
          label: "Select Category"
          placeholder: "Choose Category"
          options:
            - name: "Docker"
              value: "docker"
            - name: "Linux"
              value: "linux"
            - name: "CLI"
              value: "cli"
            - name: "Redis"
              value: "redis"
      - name: "tags"
        field:
          element: "multiselect"
          label: "Add Tags"
          placeholder: "Choose Tags"
          alterable: true
          options:
            - name: "Docker"
              value: "docker"
            - name: "Linux"
              value: "linux"
            - name: "CLI"
              value: "cli"
            - name: "Javascript"
              value: "javascript"
            - name: "Python"
              value: "python"
            - name: "Php"
              value: "php"
            - name: "NodeJs"
              value: "nodejs"
            - name: "Java"
              value: "java"
    _posts/static:
      - name: "layout"
        field:
          element: "hidden"
          value: "page"
      - name: "title"
        field:
          element: "text"
          label: "Title"
          value: ""
      - name: "permalink"
        field:
          element: "text"
          label: "Permalink"
          value: ""